{% extends 'base.html.twig' %}

{% block title %}Photo index{% endblock %}

{% block body %}
    <h1>Photo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idphoto</th>
                <th>Nomphoto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for photo in photos %}
            <tr>
                <td>{{ photo.idphoto }}</td>
                <td>{{ photo.nomphoto }}</td>
                <td>
                    <a href="{{ path('photo_show', {'idphoto': photo.idphoto}) }}">show</a>
                    <a href="{{ path('photo_edit', {'idphoto': photo.idphoto}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('photo_new') }}">Create new</a>
{% endblock %}
