{% extends 'base.html.twig' %}

{% block title %}Photo{% endblock %}

{% block body %}
    <h1>Photo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idphoto</th>
                <td>{{ photo.idphoto }}</td>
            </tr>
            <tr>
                <th>Nomphoto</th>
                <td>{{ photo.nomphoto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('photo_index') }}">back to list</a>

    <a href="{{ path('photo_edit', {'idphoto': photo.idphoto}) }}">edit</a>

    {{ include('photo/_delete_form.html.twig') }}
{% endblock %}
