<form method="post" action="{{ path('fresque_delete', {'idfresque': fresque.idfresque}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fresque.idfresque) }}">
    <button class="btn">Delete</button>
</form>
