{% extends 'base.html.twig' %}

{% block title %}Edit Fresque{% endblock %}

{% block body %}
    <h1>Edit Fresque</h1>

    {{ include('fresque/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('fresque_index') }}">back to list</a>

    {{ include('fresque/_delete_form.html.twig') }}
{% endblock %}
