{"fresques":[{% set i=0 %}
    {% for fresque in fresques %}
        {"fresque": {
            "id":{{ fresque.idfresque }},
            "nom":"{{ fresque.nomfresque }}",
            "description":"{{ fresque.descriptionfresque }}",
            "adresse":"{{ fresque.adressefresque }}",
            "ville":"{{ fresque.villefresque }}",
            "lattitude":{{ fresque.lattitudefresque }},
            "longitude":{{ fresque.longitudefresque }},
            "auteur": {
                "id":{{ fresque.refauteur.idauteur }},
                "nom":"{{ fresque.refauteur.nomauteur }}",
                "prenom":"{{ fresque.refauteur.prenomauteur }}"
            },
            "photo": {
                "id":{{ fresque.refphoto.idphoto }},
                "nom":"{{ fresque.refphoto.nomphoto }}"
            }
        }
        }
        {% set i= i+1 %}
        {% if i != fresques|length %},{% endif %}
        
    {% else %}
        {}
    {% endfor %}
 ]   }    
