{% extends 'base.html.twig' %}

{% block title %}Fresque index{% endblock %}

{% block body %}
    <h1>Fresque index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Idfresque</th>
                <th>Nomfresque</th>
                <th>Descriptionfresque</th>
                <th>Adressefresque</th>
                <th>Villefresque</th>
                <th>Lattitudefresque</th>
                <th>Longitudefresque</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fresque in fresques %}
            <tr>
                <td><img width="200px" src="/images/{{ fresque.refphoto.nomphoto }}.png"></td>
                <td>{{ fresque.idfresque }}</td>
                <td>{{ fresque.nomfresque }}</td>
                <td>{{ fresque.descriptionfresque }}</td>
                <td>{{ fresque.adressefresque }}</td>
                <td>{{ fresque.villefresque }}</td>
                <td>{{ fresque.lattitudefresque }}</td>
                <td>{{ fresque.longitudefresque }}</td>
                <td>
                    <a href="{{ path('fresque_show', {'idfresque': fresque.idfresque}) }}">show</a>
                    <a href="{{ path('fresque_edit', {'idfresque': fresque.idfresque}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fresque_new') }}">Create new</a>
{% endblock %}
