{% extends 'base.html.twig' %}

{% block title %}New Fresque{% endblock %}

{% block body %}
    <h1>Create new Fresque</h1>

    {{ include('fresque/_form.html.twig') }}

    <a href="{{ path('fresque_index') }}">back to list</a>
{% endblock %}
