{% extends 'base.html.twig' %}

{% block title %}Fresque{% endblock %}

{% block body %}
    <h1>Fresque</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idfresque</th>
                <td>{{ fresque.idfresque }}</td>
            </tr>
            <tr>
                <th>Nomfresque</th>
                <td>{{ fresque.nomfresque }}</td>
            </tr>
            <tr>
                <th>Descriptionfresque</th>
                <td>{{ fresque.descriptionfresque }}</td>
            </tr>
            <tr>
                <th>Adressefresque</th>
                <td>{{ fresque.adressefresque }}</td>
            </tr>
            <tr>
                <th>Villefresque</th>
                <td>{{ fresque.villefresque }}</td>
            </tr>
            <tr>
                <th>Lattitudefresque</th>
                <td>{{ fresque.lattitudefresque }}</td>
            </tr>
            <tr>
                <th>Longitudefresque</th>
                <td>{{ fresque.longitudefresque }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fresque_index') }}">back to list</a>

    <a href="{{ path('fresque_edit', {'idfresque': fresque.idfresque}) }}">edit</a>

    {{ include('fresque/_delete_form.html.twig') }}
{% endblock %}
