<form method="post" action="{{ path('auteur_delete', {'idauteur': auteur.idauteur}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ auteur.idauteur) }}">
    <button class="btn">Delete</button>
</form>
