{% extends 'base.html.twig' %}

{% block title %}Auteur index{% endblock %}

{% block body %}
    <h1>Auteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idauteur</th>
                <th>Nomauteur</th>
                <th>Prenomauteur</th>
                <th>Pseudoauteur</th>
                <th>Datenaissanceauteur</th>
                <th>Nationaliteauteur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.idauteur }}</td>
                <td>{{ auteur.nomauteur }}</td>
                <td>{{ auteur.prenomauteur }}</td>
                <td>{{ auteur.pseudoauteur }}</td>
                <td>{{ auteur.datenaissanceauteur }}</td>
                <td>{{ auteur.nationaliteauteur }}</td>
                <td>
                    <a href="{{ path('auteur_show', {'idauteur': auteur.idauteur}) }}">show</a>
                    <a href="{{ path('auteur_edit', {'idauteur': auteur.idauteur}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('auteur_new') }}">Create new</a>
{% endblock %}
