{% extends 'base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
    <h1>Auteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idauteur</th>
                <td>{{ auteur.idauteur }}</td>
            </tr>
            <tr>
                <th>Nomauteur</th>
                <td>{{ auteur.nomauteur }}</td>
            </tr>
            <tr>
                <th>Prenomauteur</th>
                <td>{{ auteur.prenomauteur }}</td>
            </tr>
            <tr>
                <th>Pseudoauteur</th>
                <td>{{ auteur.pseudoauteur }}</td>
            </tr>
            <tr>
                <th>Datenaissanceauteur</th>
                <td>{{ auteur.datenaissanceauteur }}</td>
            </tr>
            <tr>
                <th>Nationaliteauteur</th>
                <td>{{ auteur.nationaliteauteur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('auteur_index') }}">back to list</a>

    <a href="{{ path('auteur_edit', {'idauteur': auteur.idauteur}) }}">edit</a>

    {{ include('auteur/_delete_form.html.twig') }}
{% endblock %}
