{% extends 'base.html.twig' %}

{% block title %}Parcours index{% endblock %}

{% block body %}
[{% set i=0 %}
{% set j=0 %}
    {% for parcour in parcours %}
        {% set j=0 %}
        {"parcours": {<br>
            "id":{{ parcour.idparcours }},
            "distance":{{ parcour.distanceparcours }},<br>
            "fresques":[
                {% for fresque in parcour.reffresque %}
                    {"fresque": {
                        "id":{{ fresque.idfresque }},
                        "nom":"{{ fresque.nomfresque }}",
                        "description":"{{ fresque.descriptionfresque }}",
                        "adresse":"{{ fresque.adressefresque }}",
                        "ville":"{{ fresque.villefresque }}",
                        "lattitude":{{ fresque.lattitudefresque }},
                        "longitude":{{ fresque.longitudefresque }},
                        "auteur": {
                            "id":{{ fresque.refauteur.idauteur }},
                            "nom":"{{ fresque.refauteur.nomauteur }}",
                            "prenom":"{{ fresque.refauteur.prenomauteur }}"
                        },
                        "photo": {
                            "id":{{ fresque.refphoto.idphoto }},
                            "nom":"{{ fresque.refphoto.nomphoto }}"
                        }
                    }
                    }
                {% set j= j+1 %}
                {% if j != parcour.reffresque|length %},{% endif %}
                
                
                {% else %}
                    {}
                {% endfor %}
                ]
        }<br>
        }
        {% set i= i+1 %}
        {% if i != nb %},{% endif %}
        <br>
        
    {% else %}
        {}
    {% endfor %}
 ]       
{% endblock %}
